<%= render partial: 'spree/shared/error_messages', locals: { target: @spree_user } %>
<h2><%= t('spree.change_my_password') %></h2>

<%= form_for @spree_user, as: :spree_user, url: spree.update_password_path, method: :put do |f| %>
  <p>
    <%= f.label :password, t('spree.password') %><br />
    <%= f.password_field :password %><br />
  </p>
  <p>
    <%= f.label :password_confirmation, t('spree.confirm_password') %><br />
    <%= f.password_field :password_confirmation %><br />
  </p>
  <%= f.hidden_field :reset_password_token %>
  <%= f.submit t('spree.update'), class: 'button primary' %>
<% end %>
