<% if spree_current_user %>
  <ul id="login-nav" class="inline-menu">
    <li data-hook="user-logged-in-as"><%= t('spree.logged_in_as') %>: <%= spree_current_user.email %></li>
    <li data-hook="user-account-link" class='fa fa-user'><%= link_to t('spree.account'), spree.edit_admin_user_path(spree_current_user) %></li>
    <li data-hook="user-logout-link" class='fa fa-sign-out'><%= link_to t('spree.logout'), spree.admin_logout_path %></li>

    <% if spree.respond_to? :root_path %>
      <li data-hook="store-frontend-link" class='fa fa-external-link'>
         <%= link_to t('spree.back_to_store'), spree.root_path, target: '_blank' %>
      </li>
    <% end %>
  </ul>
<% end %>
