<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
  <div id="password-credentials">
    <p>
      <%= f.label :email, t('spree.email') %><br />
      <%= f.email_field :email, class: 'title', tabindex: 1, autofocus: true %>
    </p>
    <p>
      <%= f.label :password, t('spree.password') %><br />
      <%= f.password_field :password, class: 'title', tabindex: 2 %>
    </p>
  </div>
  <p>
    <%= f.check_box :remember_me, tabindex: 3 %>
    <%= f.label :remember_me, t('spree.remember_me') %>
  </p>

  <p><%= f.submit t('spree.login'), class: 'button primary', tabindex: 4 %></p>
<% end %>
